body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgrey;
  color: white;
}

a {
  color: #00B7FF;
}

h1 {
  width: 800px;
  text-align: center;
  margin: auto;
}

section {
  text-align: center;
  width: 1000px;
  margin: auto;
}

img {
  width: 900px;
}
