body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  width: 800px;
  text-align: center;
  margin: auto;
}

section {
  text-align: center;
  width: 600px;
  margin: auto;
}

img {
  width: 
}
